<h2>Questions</h2>
<% @questions.each do |question| %>
	<ul>
		<li>Title: <%= link_to question.title, question %></li>
		<li>Question by: <%= question.user && question.user.email %></li>
		<li><%= question.answers.length %> answer(s)</li>
	</ul>
<% end %>