<h2>Questions</h2>
<table>
<% @questions.each do |question| %>
<tr>
	<td class="center votes">0<br />vote</td>
	<td class="center answers">0<br />answers</td>
	<td class="center views">0<br />view</td>
	<td>
	<%= link_to question.title, question %><br />
	asked by <%= question.user && question.user.email %>
	</td>
	<td>
	<br />
	at <%= question.updated_at.strftime('%H:%M:%S, %b %d, %Y') %>
	</td>
</tr>
<% end %>
<table>