/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
div#container{
	width: 900px;
	margin: auto;
}

div#title{
	float: left;
	clear: both;
	width: 100%;
	height: 105px;
	background-color: #dcdcdc;
}

div#sidebar{
	float: left;
	width: 190px;
	padding: 5px;
	background-color: #f0f0f0;
}
div#main{
	float: left;
	padding: 10px;
	width: 680px;
	background-color: #fcfcfc;
}

#main h2{
	margin-top: 20px;
	margin-bottom: 15px;
}

td.center{
	text-align: center;
	width: 40px;
}
td.answers{
	color: crimson;
}
td.views{
	color: dimgray;
}

table.answers-table, table.question-table{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
td.vote-area{
	width: 40px;
	padding: 5px;
}
td.question-content-area, td.answer-content-area{
	padding: 10px
}

table.question-table{
	padding: 5px;
}

p.question-info-area, p.answer-info-area{
	background-color: #efefef;
	width: 190px;
	padding: 6px;
	font-size: 11px;
	margin-left: auto;
}

.comment-area .comment-row:first-child{
	border-top: 1px dotted #000;
}

p.comment-row, form.comment-row{
	padding: 5px 6px 5px 35px;
	border-bottom: 1px dotted #000;
	margin: 1px;
}

code{
	display: block;
	margin: 8px;
	padding: 8px;
	background: #e0e0e0;
}